<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 m-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="card m-auto shadow" style="width: 50%; background-color: #a8c7da ;">
                        <div class="card-header bold text-center">Registeration</div>
                        <div class="card-body">
                            <div class="row g-3 m-3">
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    <label for="" class="form-label">Name</label>
                                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    <label for="" class="form-label">Address</label>
                                    <textarea name="address" [(ngModel)]="address" rows="3" cols="50" class="form-control"></textarea>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <label for="" class="form-label">Email</label>
                                    <input name="email" [(ngModel)]="email" type="email" class="form-control">
                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <label for="" class="form-label">Phone Number</label>
                                    <input name="phoneNo" [(ngModel)]="phoneNo" type="text" class="form-control">
                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <label for="" class="form-label">Password</label>
                                    <input name="password" [(ngModel)]="password" type="password" class="form-control">
                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <label for="" class="form-label">Confirm Password</label>
                                    <input name="confirmPassword" [(ngModel)]="confirmPassword" type="password" class="form-control">
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mt-4">
                                    <button (click)="readValues()" class="btn btn-dark">Register</button>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mt-3">
                                    <a routerLink="/userlogin" class="btn bg-secondary text-white">Back to user <span class="btn btn-light ml-2">Login</span></a>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
